zmodule environment
zmodule input
zmodule utility

zmodule fzf
zmodule Aloxaf/fzf-tab

zmodule zsh-users/zsh-completions --fpath src
zmodule completion

zmodule zdharma/fast-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search
zmodule zsh-users/zsh-autosuggestions 
